* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(226, 226, 226);
}
.app-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

.counter-container {
  margin-top: 2rem;
  border: 1px solid #ccc;
  padding: 10px;
}

.counter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter-list {
  list-style: none;
  padding: 0;
}

.no-selection {
  font-style: italic;
  color: #888;
}

.reset-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #d32f2f;
}

.print-btn {
  margin-bottom: 1rem;
  margin-left: auto;
  background-color: #0e25da;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.print-btn:hover {
  background-color: #2f44e1;
}
